#page {  
 
}

#leftcontent{
    float: left;
    width: 50%;
    height: 600px;
    background-color: #FFFFFF;
}

#rightcontent {
    float: right;
    width: 50%;
    height: 600px;
    background-color: #FFFFFF;
}

#clearingdiv {
    clear: both;
    
}

#title {
	padding-top:12px;
	text-align: center;
	font-size:55px;
	margin-bottom: 10px;
}

#restaurant {
	text-align: center;
	font-size:25px;
	margin-bottom: 25px;
}

#popup {
	text-align:center;
}

#popup-title {
	text-align:center;
	font-weight:bold;
	font-size:20px;
}

#popup-address {
	text-align:left;
	font-size:15px;
}

#feedme {
	text-align: center;
	margin-bottom: 40px;
}

#feedme-button {
	text-align: center;
	font-size:20px;
}

#dropoff {
	position: absolute;
	top:500px;
    left:73%;
	text-align: center;
}

#dropoff-button {

	text-align: center;
	font-size:20px;
}

#mealtable {
	margin-top: 15px;
	margin-left: 15px;
	text-align: center;
	font-size:20px;
    width: 95%;
    height: 583px;
    outline: #000000 solid;
}

table{
    border: 1px solid grey;
    border-collapse: collapse;
    width:600px;
}

th, td{
    border: 1px solid grey;
    border-collapse: collapse;
    width:300px;
}

thead tr {
	background-color: #f2f2f2;
}
         
tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}
	         
tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

#tr-accepted {
	background-color: #8def8d;
}

#tr-declined {
	background-color: #f47f7a;
}

table {
    width: 600px; /* 140px * 5 column + 16px scrollbar width */
    border-spacing: 0;
}

tbody, thead tr { display: block; }

tbody {
    height: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
}

thead th {
    width: 300px;
}

tbody td{
    width: 300px;
}

thead th:last-child {
    width: 317px; /* 140px + 16px scrollbar width */
}