<!DOCTYPE html>
<html>

<head>
	<style>
		#map {
			height: 600px;
			width: 100%;
		}
	</style>
    <meta charset="utf-8" />
    <title>Meal Share</title>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/restaurant.js"></script>
    <script type="text/javascript" src="js/delivery.js"></script>
    <script type="text/javascript" src="js/courier.js"></script>
    <link href="css/default.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

    
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<div ng-app="mealShare" ng-controller="mealController" id="page">

	<div id="leftcontent">
		<div id=mealtable>
		<div id="title">MEALSHARE</div>
		<div id="restaurant">{{restName}}</div>
		<div id="feedme"><button type="button" class="btn btn-lg btn-success" id="feedme-button" onclick="feedMe()">Meal Available</button></div>
			<div>
			<center>
				<table>
					<thead>
					<tr>
						<th> &nbsp Timestamp</th>
						<th> &nbsp Status</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="delivery in deliveries | orderBy : '-timestamp'" ng-hide="delivery.status == 'Picked Up' || delivery.status == 'Delivered'">
    					<td id="tr-accepted" ng-show="delivery.status == 'Accepted'"> &nbsp {{delivery.timestamp}}</td>
    					<td id="tr-accepted" ng-show="delivery.status == 'Accepted'"> &nbsp {{delivery.status}}</td>
    					<td id="tr-declined" ng-show="delivery.status == 'Declined'"> &nbsp {{delivery.timestamp}}</td>
    					<td id="tr-declined" ng-show="delivery.status == 'Declined'"> &nbsp {{delivery.status}}</td>
    					<td ng-hide="delivery.status == 'Accepted' || delivery.status == 'Declined'"> &nbsp {{delivery.timestamp}}</td>
    					<td ng-hide="delivery.status == 'Accepted' || delivery.status == 'Declined'"> &nbsp {{delivery.status}}</td>
  					</tr>
  					</tbody>
				</table>
			</center>
			</div>
		</div>
	</div>

	<div id="rightcontent">
		<div id="map"></div>
		<script initMap()></script>
		<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUiK5VTrszhXDGlw9zWYzSgusWXdmefpA&callback=initMap">
		</script>
 		<div id="dropoff" ng-show="currentInventory.length > 0"><button type="button" class="btn btn-success" id="dropoff-button" onclick="deliverDelivery()">Drop Off</button></div>
    </div>
	
	<div id="clearingdiv"></div>
	</div>
</body>

</html>
